<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RECORD</title>
    <style>
       
    </style>
</head>
<body>
    <div id="app">
        <time></time>

        <div class="panel" v-for="(key, val) in getList" :class="[ key == 'pay' ? 'pay' : 'income' ]">
            <p class="title">
                {{key}}
                <input type="text" @keyup.enter="addItem(key)" class="add-input">
            </p>

            <ul class="list" v-for="item in val">
                <li>
                    <label @dblclick="editItem(item)" v-text="item.name"></label>
                    <span class="price" v-text="item.price"></span>

                    <button class="del-item" @click="delItem(key, item)">x</button>
                </li>
            </ul>
        </div>

        <p class="count" v-text="getCount"></p>
    </div>

    <script src="js/vue.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/store.js"></script>
    <script src="js/app.js"></script>
</body>
</html>